@{
    ViewData["Title"] = "Edit resto";
    Restaurant r = ViewBag.resto;
}

<div>
    <h1 class="display-4 mb-4">Modification du restaurant @r.Name</h1>
    <form method="post" action="EditQuery">
        <input type="text" value="@r.Id" name="id" hidden />
        <div class="mb-3">
            <label for="name" class="form-label">Nom du restaurant</label>
            <input type="text" value="@r.Name" name="name" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Téléphone</label>
            <input type="text" value="@r.Phone" name="phone" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="commentary" class="form-label">Description</label>
            <input type="text" value="@r.Commentary" name="commentary" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" value="@r.Email" name="email" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="street" class="form-label">Adresse</label>
            <input type="text" value="@r.Street" name="street" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="zip" class="form-label">Code postal</label>
            <input type="number" value="@r.Zip" name="zip" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">Ville</label>
            <input type="text" value="@r.City" name="city" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="lastTimeVisited" class="form-label">Date de dernière visite</label>
            <input type="date" value="@r.LastTimeVisited.Replace("/", "-")" name="lastTimeVisited" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="note" class="form-label">Note</label>
            <input type="number" value="@r.Note" min="1" max="5" name="note" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="noteCommentary" class="form-label">Commentaire de la note</label>
            <input type="text" value="@r.NoteCommentary" name="noteCommentary" required class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Modifier le restaurant</button>
        <a class="btn btn-secondary" asp-area="" asp-controller="Listing" asp-action="Index">Retour</a>
    </form>
</div>
