@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Liste des restaurants</h1>
    <div>
        @foreach (var p in ViewBag.allResto)
        {
        <ul>
            <li>Nom : @p.Name</li>
            <li>Adresse : @p.Street, @p.City</li>
            <li>Date de la dernière visite : @p.LastTimeVisited</li>
            <li>Note de la dernière visite @p.Note/5</li>
            <form action="Listing/Delete" method="post">
                <input type="number" hidden name="idResto" value="@p.Id" />
                <input type="submit" value="Supprimer le restaurant" name="Delete resto" />
            </form>
        </ul>
        }
    </div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Listing" asp-action="Create">Créer un restaurant</a>
</div>
