@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Liste des restaurants</h1>
    <a class="btn btn-success mb-4" asp-area="" asp-controller="Listing" asp-action="Create">Créer un restaurant</a>
    <div class="row">
        @foreach (var p in ViewBag.allResto)
        {
            <div class="col-4">
                <div class="col-12">
                    <div class="card my-2">
                        <div class="card-body">
                            <h5 class="card-title">@p.Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Note de la dernière visite @p.Note/5</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Date de la dernière visite : @p.LastTimeVisited</h6>
                            <p class="card-text">Adresse : @p.Street, @p.City</p>
                        </div>
                        <div class="card-body row">
                            <form action="Listing/Edit" method="post" class="col-4">
                                <input type="number" hidden name="idResto" value="@p.Id" />
                                <input type="submit" value="Modifier" name="Delete resto" class="btn btn-secondary" />
                            </form>
                            <form action="Listing/Delete" method="post" class="col-4">
                                <input type="number" hidden name="idResto" value="@p.Id" />
                                <input type="submit" value="Supprimer" name="Delete resto" class="btn btn-outline-danger" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
